<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spinnig Wheel</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>

    <form id="saveUsername">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username">
        <button type="submit" id="submitUsername">Enter in the room</button>
    </form>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</body>

</html>